
<section id="game">
  <header>
    <h1>{{#link-to 'game'}}<img src ="assets/images/connect-4.png" alt="logo"/>{{/link-to}}</h1>  {{!--logo connect-4 created--}}
  </header>
  <article>
    {{outlet}}  {{!--game output here--}}
  </article>
  <footer> {{!--footer tag--}}
    <div class="float-left">
      <p>Powered by Ember.</p>
      <p >Moreira W 24359939 </p>

    </div>
    <div class="float-right">
        <p>Please wave device side to side</p>
        <p>to start or restart...</p>
    </div>
    
  </footer>
</section>
