body {
    font-family: monospace;
    font-size: 12pt;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.text-center {
    text-align: center;
}
a {
    color: #7ba3c4;
}
/* main layout section of the game */
#game {
    max-width: 400px;
    background-image: url("imgw.jpg");
    background-size:cover;
    border: 5px solid #063a22;
    border-radius: 10px;
}

header h1 {
    background: #051f42;
    color: #ffffff;
    margin: 0;
    padding: 0.5rem;
    text-align: center;
}
header h1 a {
    text-decoration: none;
}

h1{
    font-family:fantasy;
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
    border: solid 3px rgb(226, 214, 43);
    border-radius: 3px;
}

h1 img{
    width: 180px;
}

/* Main game area styling */
article {
    height: 400px;
    overflow: auto;
    color: #ffffff;
    padding: 0.5rem;
    position: relative;
}
article h2 {
    margin: 0;
}
/* set buttons */
.start{
    width: 50px;
    height: 25px;
    border-radius: 5px;

    background-color: darkgreen;
    color: white;
    font-weight: bold;
}

.start:hover{
    background: grey;
}

.btn{
    width: 65px;
    height: 25px;
    border-radius: 5px;
    border: none;
    overflow: hidden;
    margin: 0.3rem;
    padding: 0;
    text-transform: uppercase;
    background-color: blue;
    color: white;
    font-weight: bold;
}

.btn2{
    width: 70px;
    height: 25px;
    border-radius: 5px;
    border: none;
    overflow: hidden;
    margin: 0.3rem;
    padding: 0;
    text-transform: uppercase;
    background-color: rgb(236, 194, 8);
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.btn:hover{
    background: greenyellow;
}
   .btn2:hover{
    background: red;
}

.text-center{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: lightsalmon;
}
/* Footer styling */
footer {
    background:  #051f42;
    color: #ffffff;
    font-size: 0.6rem;
    padding: 0.2rem 0.3rem;
}
footer:after {
    content: ' ';
    display: table;
    clear: both;
}
