{{!--set the game interface connect-4 buttons--}}

{{#if playing}}
  {{#if winner}}
    <div>
      {{winner}} won!
    </div>
  {{/if}}

  {{#if draw}}
        <div>we'll call it a draw</div>
  {{/if}}
  {{#if desktop}}
    <button class="btn2" {{action 'start'}}>Restart</button>
  {{/if}}
  {{else}}
    {{#if desktop}}
      <button class="start" {{action 'start'}}>Start</button>
      <div class="#" style="float: right;">
      <option class="text-center">Options</option>
        <button class="btn" {{action 'option_1'}}>Easy</button>
        <button class="btn" {{action 'option_2'}}>Medium</button>
        <button class="btn" {{action 'option_3'}}>Hard</button>
      </div>
    {{/if}}
    
{{/if}}


<canvas id="stage" width="380" height="380"></canvas>
